.datepicker, .datepicker * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.datepicker {
  width: 290px;
  padding: 4px;
  border: 1px solid #ccc;
}

.datepicker table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.datepicker table td, .datepicker table th {
  padding: 0;
}

.datepicker .pick-head {
  width: 100%;
  margin: 4px 0;
}
.datepicker .pick-head .pick-prev,
.datepicker .pick-head .pick-next {
  width: 20%;
}
.datepicker .pick-head .pick-change {
  width: 60%;
}
.datepicker .pick-head .pick-change.disabled {
  box-shadow: none;
  background-color: transparent;
  cursor: default;
}

.pick-btn {
  display: inline-block;
  background: transparent;
  border: 1px solid transparent;
  box-shadow: inset 0 0 1px 1px transparent;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  outline: none;
  text-align: center;
}
.pick-btn:hover {
  background-color: #eee;
}
.pick-btn:active {
  box-shadow: inset 0 1px 2px 1px #ccc;
}

.pick-day {}
.pick-day.active {
  color: rgb(0, 100, 200);
  font-weight: bold;
}
.pick-day.out {
  color: #ccc;
}

.pick-month {}
.pick-month.active {
  color: rgb(0, 100, 200);
  font-weight: bold;
}

.pick-year {}
.pick-year.active {
  color: rgb(0, 100, 200);
  font-weight: bold;
}