.datepicker, .datepicker * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.datepicker {
  position: relative;
  z-index: 100;
  width: auto;
  padding: 4px;
  color: #444;
  font-size: 14px;
  background: #fff;
}

.datepicker table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.datepicker table td, .datepicker table th {
  padding: 0;
  text-align: center;
}

.datepicker table thead {
  color: #666;
}

.datepicker table tbody th {
  font-weight: normal;
  font-style: italic;
  color: #666;
}

.datepicker-btn {
  position: relative;
  display: inline-block;
  background: transparent;
  border: 1px solid transparent;
  box-shadow: inset 0 0 1px 1px transparent;
  padding: 4px 8px;
  cursor: pointer;
  width: 100%;
  outline: none;
  text-align: center;
  font-size: inherit;
  font-weight: inherit;
  color: #444;
}
.datepicker-btn:hover {
  background-color: #eee;
}

.datepicker-head {
  width: 100%;
  margin: 2px 0;
  font-weight: bold;
}
.datepicker-prev,
.datepicker-next {
  width: 20%;
}
.datepicker-next::before {
  content: url("chevron-right.svg");
  position: relative;
  top: 2px;
}
.datepicker-prev::before {
  content: url("chevron-left.svg");
  position: relative;
  top: 2px;
}
.datepicker-change {
  width: 60%;
}
.datepicker-change.disabled {
  box-shadow: none;
  background-color: transparent;
  cursor: default;
}

.datepicker-day {
  padding: 4px 8px;
}
.datepicker-day.active {
  color: rgb(0, 100, 200);
  font-weight: bold;
}
.datepicker-day.out {
  color: #ccc;
}
.datepicker-day.disabled {
  opacity: .5;
  background-color: inherit;
  cursor: not-allowed;
  box-shadow: none;
}

.datepicker-month {
  padding: 12px 8px;
}
.datepicker-month.active {
  color: rgb(0, 100, 200);
  font-weight: bold;
}
.datepicker-month.disabled {
  opacity: .5;
  background-color: inherit;
  cursor: not-allowed;
  box-shadow: none;
}

.datepicker-year {
  padding: 8px 8px;
}
.datepicker-year.active {
  color: rgb(0, 100, 200);
  font-weight: bold;
}
.datepicker-year.disabled {
  opacity: .5;
  background-color: inherit;
  cursor: not-allowed;
  box-shadow: none;
}
