.datepicker, .datepicker * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.datepicker table {
  border-collapse: collapse;
}

.datepicker table td, .datepicker table th {
  padding: 0;
}

.pick-btn {
  display: inline-block;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: inset 0 0 1px 1px transparent;
  /*border-radius: 4px;*/
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  outline: none;
}

.pick-day {}
.pick-day:hover {
  background-color: #eee;
}
.pick-day.active {
  color: rgb(0, 100, 200);
  font-weight: bold;
}
.pick-day.out {
  opacity: 0.3;
}